@model ICTProject.Models.DBC.User
DbcContext db = new DbcContext()
    {
        var usr = db.Users.Where(u => u.Username == account.Username && u.Password == account.Password).FirstOrDefault();
        if (usr != null)
        
    Session["UserID"] = usr.UserId.ToString();
    Session["Username"] = usr.Username.ToString();
    return RedirectToAction("LoggedIn");

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
